/* Fondo de la aplicación */
.root {
    -fx-background-color: #D3D3D3; /* Gris claro */
}

.button {
    -fx-background-color: #00FFFF; /* Azul celeste neon */
    -fx-text-fill: black;          /* Color de fuente */
    -fx-border-color: black;       /* Color de borde */
    -fx-border-radius: 20;         /* Bordes redondeados */
    -fx-background-radius: 20;     /* Bordes redondeados */

    /*-fx-padding: 5, 10, 15, 60;     //margen para los botones personalizado en la hoja de estilos.*/
}

.button:hover{

    -fx-background-color: #000080; /* Azul marino */
    -fx-text-fill: white;
}

#fontButton{
    -fx-font: bold italic 12 "FS Sinclair";
    -fx-background-color: #efe4e4;
    -fx-text-fill: #FF0000;
}